<div style="width: 100%; height:100%; position: relative;" [ngStyle]="{'backgroundColor': colorEarned}" fxLayoutAlign="center center">
    <div class="container" fxLayout="column" fxLayoutAlign="center center">
        <h1 class="counter">{{counter}}</h1>
        <button class="reset-button" (click)="colorDetector(counter)" role="button">Stop Timer</button>
    </div>
    <app-statistics (restartGame)="timerInit()" *ngIf="statisticsOn" [statisticsOn]="statisticsOn" [colorParsed]="colorParsed"></app-statistics>

</div>
