<div style="width: 100%; height:100%; position: relative;" [ngStyle]="{'backgroundColor': colorEarned}" fxLayoutAlign="center center">
    <div class="container" fxLayout="column" fxLayoutAlign="center center">
        <h1 class="counter">{{counter}}</h1>
        <button class="reset-button" (click)="colorDetector(counter)" [ngClass]="stopTimeButtonActive ? 'active-reset-button' : 'reset-button'">Stop Timer</button>
    </div>
    <app-statistics style="width: 100%; height: 100%;" fxLayoutAlign="center center" [colorParsedStored]="colorParsedStored" (restartGame)="timerInit()" *ngIf="statisticsOn"  ></app-statistics>

</div>
