* {
    font-family: 'Roboto Mono', monospace;}


    .statistics-container {
        position: absolute;
        width: 72vh;
        z-index: 20;
        align-items: center;
        justify-content: center;
        box-shadow: rgba(100, 100, 111, 0.7) 0px 7px 29px 0px;
        border-radius: 50px;
        height: 95vh;
        background-color: white;
    }



.statistics-title {
    margin: 6vh 0 4vh;
    text-decoration: underline;
    height: 25vh;
    font-size: 4vh;

}




.property-container {
    justify-content: center;
    align-items: center;  
    height: 50vh;

}

.value-container {
    justify-content: center;
    align-items: center;  
}

.property-stat {
    width: 40%;
}

.value-stat {
    width: 40%;
    opacity:0.8;
    height: 7.5vh;
    align-items: center;
    display: flex;



}

.value-stat.quantity{
    justify-content: flex-end;
   
    padding-right:15px;

}

.value-stat.color {
  padding-left: 15px;
    
}



.chart-reset-button {
  background-color: #FFFFFF;
  border: 1px solid #222222;
  border-radius: 8px;
  box-sizing: border-box;
  color: #222222;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  line-height: 20px;
  margin: 0;
  outline: none;
  padding: 13px 23px;
  position: relative;
  text-align: center;
  text-decoration: none;
  touch-action: manipulation;
  transition: box-shadow .2s,-ms-transform .1s,-webkit-transform .1s,transform .1s;
  user-select: none;
  -webkit-user-select: none;
  width: 25vh;
  height: 6vh;
}

.chart-reset-button:focus-visible {
  box-shadow: #222222 0 0 0 2px, rgba(255, 255, 255, 0.8) 0 0 0 4px;
  transition: box-shadow .2s;
}

.chart-reset-button:active {
  background-color: #F7F7F7;
  border-color: #000000;
  transform: scale(.96);
}

.chart-reset-button:disabled {
  border-color: #DDDDDD;
  color: #DDDDDD;
  cursor: not-allowed;
  opacity: 1;
}
